:root {
  @media (prefers-color-scheme: dark) {
    --white: #b7c0dd;
    --black: #092147;
    --primary003: #d280e0;
    --primary002: #ac62b9;
    --primary001: #63345e;
    --secondary002: #628fb9;
    --secondary001: #0b468c;

    --site__font: 'Roboto Mono', monospace;
    --site__font-alt: 'Orbitron', sans-serif;
    --site__bg: var(--black);
    --site__color: var(--white);
    --site__link: var(--primary002);
    --site__link--active: var(--primary003);
    --site__header: var(--primary003);

    --site--footer__bg: var(--secondary001);
    --site-footer__color: var(--white);
    --site-footer__link: var(--primary003);
    --site-footer__link--active: var(--primary002);
  

    --button__bg: var(--black);
    --button__border: 3px solid var(--primary002);
    --button__color: var(--primary002);
    --button__border--hover: 3px solid var(--primary003);
    --button__color--hover: var(--primary003);
    --button__bg--hover: var(--black);
  }
}